@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap');
@import './colors.scss';

*{
    box-sizing: border-box;
}

html{
    font-size: 1.125rem;
    background-color: $cream;
    height: 100%;

}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-family: 'DM Sans', sans-serif;
    color: $medium-brown;
}

@media (max-width: 34rem) {
    html{
        font-size: 0.85rem;
    }
    .layout{
        margin: 1.25rem;
    }
}

h1,h2,p{
    margin: 0;
    font-weight: normal;
    font-size: inherit;
}

.layout{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    max-width: 30rem;
    width: 100%;
    flex-grow: 1;

    &__block{
        padding: 2rem;
        border-radius: 1rem;
        background-color: $very-pale-orange;

        &_primary{
            background-color: $soft-red;
            padding: 1.5rem;
        }

    }
}
.my-account{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: $very-pale-orange;
     
    &__info{
        display: flex;
        flex-direction: column;
        gap: 0.25rem;
    }
    &__title{
        font-size: 1rem;
    }
    &__balance{
        font-size: 1.75rem;
        font-weight: 700;
    }
    &__logo{
        height: 2.75rem;
        img{
            height: 100%;
        }
    }
}
.chart{
    
    &__title{
        color: $dark-brown;
        font-size: 1.85rem;
        font-weight: 700;
    }
    &__body{
        margin: 0;
        padding: 0;
        padding-top: 3.5rem;
        display: flex;
        justify-content: space-between;
        list-style: none;
    }
    &__item{
        font-size: 1rem;
        max-width: 3rem;
        width: 11%;
        text-align: center;
        height: 10rem;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;

        @media (max-width: 34rem) {
            height: 13rem;
        }
    }
    &__bar{
        background-color: $soft-red;
        border-radius: 0.25rem;
        margin-bottom: .5rem;
        position: relative;

        &:hover{
            background-color: $soft-red-hover;
            cursor: pointer;
        }
        &:hover > div{
            display: block;
        }
        &_mod{
            background-color: $cyan;
        }
        &_mod:hover{
            background-color: $cyan-hover;
        }
    }
    &__bar-info{
        position: absolute;
        top: -2.5rem;
        left: 50%;
        transform: translateX(-50%);
        border-radius: 0.25rem;
        margin-bottom: .5rem;
        padding: .4rem;
        background-color: $dark-brown;
        color: $cream;
        font-weight: 700;
        z-index: 3;
        display: none;
    }

}
.statistics{
    
    &__data{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__absolute{
        color: $dark-brown;
        font-weight: 700;
        font-size: 2.7rem;
    }
    &__relative{
        text-align: right;
    }
    &__relative-value{
        color: $dark-brown;
        font-weight: 700;
    }
    @media (max-width: 34rem) {
        font-size: 1.07rem;
        &__absolute{
            font-size: 2.5rem;
        }
    }
}
.divider{
    height: 2px;
    background-color: $cream;
    margin: 1.75rem 0;
}